.tudo {
    position: relative;
    height: 100vh;
    
  }

.titulo{
  font-size: 40px;
}
  
.fundo {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("../assets/bg.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 1;
}
.box{
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 80%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 55px;
  padding-top: 4vh;
  box-shadow: 15px 10px rgba(0, 0, 0, 0.255);
  margin-top: 16vh;
  z-index: 1;
  
}
.quaseTudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  padding-top: 6vh;
  row-gap: 2vh;
  width: 100%;
}
.campo {
  border: 0cap;
  background-color: rgb(221, 221, 221);
  border-radius: 2vh;
  height: 5vh;
  width: 70%;
  margin: auto;
  font-size: 25px;
  padding-left: 15px;
}

.campobotoes{
  display: flex;
  justify-content: center;
  margin-top: 5%;

}

.campobotoes2{
  background-color: var(--branco);
  border-radius: 15px;
  margin: 2% 1%;
}

.botao{
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0);
  margin: auto;
  width: 40%;
  height: 100%;
  font-size: 20px;
  color: var(--azul-escuro);
  background-color: var(--azul-claro);
}


.grupoCampo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 9vh;
  justify-content: space-between;
}

.mensagemErro {
  font-size: 14px;
  color: red;
  height: 1.6em;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  text-align: center;
}
