.tudo {
    position: relative;
    height: 120vh;
    
  }

.titulo{
  font-size: 40px;
}
  
.fundo {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("../assets/bg.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 1;
}
.box{
  background-color: rgb(255, 255, 255);
  width: 80%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 55px;
  padding-top: 4vh;
  box-shadow: 15px 10px rgba(0, 0, 0, 0.255);
  position: absolute;
  top: 8rem;
  
}
.quaseTudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.titulo2{
  font-weight: 700;

}

.texto{
    font-weight: 400;
    margin: 1% 5%;
    text-indent: 2em;
}
