.geral{
    width: 100vw;
    height: 15%;
    background-color: hsla(0, 0%, 0%, 0.468); 
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.links{
    display: flex;
    width: 50%;
    
}

.link{
    text-decoration: none;
    color: var(--preto);
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.linkActive{
    color: var(--preto);
    text-align: center;
    margin: auto;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 4px;
}

