:root {
    --azul-claro: #7ebec4;
    --azul-escuro: #2f7980;
    --preto: #000;
    --branco: #fff;
    
}

*{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 12px;
    }
}